# Xcode
xcuserdata/
build/
DerivedData/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
